<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Profile</title>
</head>
<body>
    <% if (meerkat) { %>
    <div>
        <h3>Name: <%= meerkat.name %></h3>
        <h4>Age: <%= meerkat.age %></h4>
        <h4>Favorite food: <%= meerkat.favorite_food %></h4>
        <a href = '/meerkats/edit/<%= meerkat.id %>'>Edit This Meerkat</a>
    </div>
    <% } %>

</body>
</html>